# Python Basics
HALLO !

In [1]:
print("Hello world!")

Hello world!

In [4]:
# Kommentar 
print("Something")

Something

## Einfache Datentypen

In [8]:
# Variablen und Wertzuweisung
name = "Lovelace"
print("Lovelace")

Lovelace

In [9]:
# Strings
first_name = "Ada"
print(first_name)

Ada

In [10]:
first_name

'Ada'

In [11]:
name
first_name

'Ada'

In [12]:
print (name)
print (first_name)

Lovelace
Ada

In [13]:
# Integers - Ganzzahlen
age = 73
print(age)

73

In [14]:
# Floats - Gleitkommazahlen
size = 1.7123
print(size)

1.7123

In [16]:
# Boolean - Boolsche Wert
knows_math = True
likes_gardening = False
print(knows_math)
print(likes_gardening)

True
False

In [17]:
type(likes_gardening)

bool

In [18]:
type(age)

int

In [19]:
type(name)

str

In [20]:
type(size)

float

# Operatoren

In [21]:
5 + 5

10

In [22]:
10 * 5

50

In [23]:
age * 100

7300

In [24]:
name + name

'LovelaceLovelace'

In [26]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [27]:
# Type Conversion 
str(age)

'73'

In [28]:
name + str(age)

'Lovelace73'

In [29]:
size/age

0.023456164383561642

In [30]:
name/age

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
name_of_articles = "50"

In [32]:
name_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
int(name_of_articles)/10

5.0

## Funktionen und Methoden nutzen

In [34]:
len(name)

8

In [35]:
name.upper()

'LOVELACE'

In [36]:
name.upper

In [37]:
name.count("e")

2

In [38]:
name.count("ov")

1

In [39]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [40]:
name

'Lovelace'

## Listen und Dictionaries

In [41]:
# Listen
names = ["Lovelace", "Darwin", "Currie", "Hawking"]

In [42]:
name

'Lovelace'

In [43]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [44]:
names[1]

'Darwin'

In [45]:
names[0]

'Lovelace'

In [46]:
name[0]

'L'

In [47]:
names[2]

'Currie'

In [48]:
names[-1]

'Hawking'

In [49]:
names[0:2]

['Lovelace', 'Darwin']

In [50]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [51]:
names[2:4]

['Currie', 'Hawking']

In [53]:
# Dictionary (Schlüssel-Werte-Paare)
authors_and_birth_years = {"Lovelace": 1815, 
                           "Darwin": 1809, 
                           "Noether":1882}

In [54]:
authors_and_birth_years["Darwin"]

1809

## for-loops (for-Schleifen)

In [56]:
for person in names:
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Currie did awesome stuff.
Hawking did awesome stuff.

In [57]:
for person in names:
    print (person + " did awesome stuff.")
    print ("-----")
print("=======")

Lovelace did awesome stuff.
-----
Darwin did awesome stuff.
-----
Currie did awesome stuff.
-----
Hawking did awesome stuff.
-----
=======

In [58]:
%who

age	 authors_and_birth_years	 first_name	 knows_math	 likes_gardening	 name	 name_of_articles	 names	 person
size

In [59]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conditionals (Bedingte Anweisungen)

In [60]:
20 > 10

True

In [61]:
20 < 10

False

In [62]:
temp = 20
if temp > 15:
    print("It's warm.")

It's warm.

In [63]:
temp = 10
if temp > 15:
     print("It's warm.")

In [64]:
temp = 10
if temp > 15:
     print("It's warm.")
else: 
    print("It's cold.")

It's cold.

In [65]:
temp = 15
if temp > 15:
     print("It's warm.")
else: 
    print("It's cold.")

It's cold.

In [66]:
temp = 15
if temp >= 15:
     print("It's warm.")
else: 
    print("It's cold.")

It's warm.

In [69]:
import os
print(os.path.abspath(os.getcwd)))

SyntaxError: unmatched ')' (<ipython-input-69-371428951612>, line 2)